.darkMagic {
  border: 7px dotted #830563;
}

.combat {
  border: 7px dotted rgb(255, 0, 0);
}

.destruction {
  border: 7px dotted rgb(199, 84, 18);
}

.necromancy {
  border: 7px dotted rgb(141, 139, 42);
}
