.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 3px double #a01c99;
  width: auto;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100px;

  img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    margin: 2px;
    cursor: pointer;
  }

  .player {
    border: 2px solid #0d832b;
  }

  .enemy {
    border: 2px solid #b31717;
  }

  .playing {
    border: 2px solid #fff;
  }
}

@media screen and (max-width: 680px) {
  .container {
    width: 90%;
  }
}
