.unitCard {
  height: 170px;
  width: 170px;
  margin: 5px 10px;
  border: 1px solid #414868;
  transition: 0.2s ease-in-out;
  position: relative;
  display: flex;
  cursor: pointer;

  &:hover {
    border: 1px double #646cff !important;
  }

  img {
    height: 170px;
    width: 170px;
    object-fit: cover;
    object-position: top;
  }

  .stats {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 170px;
    width: 170px;
    background: hsla(43, 47%, 6%, 0.5);
    text-align: center;

    span {
      font-size: .8rem;
      &:first-child {
        font-size: 1.2rem;
        color: rgb(154, 160, 104);
      }
    }

  }

  .unitBars {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
  }
}

.stack {
  position: absolute;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  margin: 1px;
  background-color: #a8338b;
  text-align: center;
}

.isPlaying {
  border: 2px solid red;
}

.affected {
  display: flex;
  flex-direction: column;
  color: red;
  text-align: center;
  font-size: 0.7rem;

  .benefical {
    color: #a1c73a;
  }
}
