.container {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  border-bottom: 4px solid #343b58;

  .army {
    display: flex;
    margin: 20px;

    .unit {
      width: auto;

      img {
        margin: 0px 10px;
        border: 2px solid #343b58;
        height: 100px;
        width: 100px;
        object-fit: cover;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          border: 2px solid #646cff;
        }
      }

      p {
        font-size: var(--font-large);
        font-weight: bold;
        background: rgb(147, 76, 161);
        width: 40px;
        margin: auto;
        color: #fff;
        text-align: center;
      }
    }
  }

  .faction {
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 20px;
    height: 160px;
    width: 160px;
    border: 5px solid transparent;
    transition: 0.2s ease-in-out;
    opacity: 0.9;

    &:hover {
      border: 5px solid #646cff;
    }

    img {
      object-fit: cover;
      height: 150px;
      width: 150px;
      margin: auto;
    }

    h2 {
      text-align: center;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -2;
      left: -50%;
      top: -50%;
      width: 200%;
      height: 200%;
      background-color: #c0caf5;
      background-repeat: no-repeat;
      background-size: 50% 50%, 50% 50%;
      background-position: 0 0, 100% 0, 100% 100%, 0 100%;
      background-image: linear-gradient(#c0caf5, #c0caf5),
        linear-gradient(#bb9af7, #bb9af7), linear-gradient(#bb9af7, #bb9af7);
      animation: rotate 3.4s linear infinite;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 6px;
      top: 6px;
      width: calc(100% - 12px);
      height: calc(100% - 12px);
      background: #fff;
    }
    @keyframes rotate {
      100% {
        transform: rotate(1turn);
      }
    }
  }

  .dialogue {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    width: 500px;
    color: #d5d6db;
    background: #1a1b26;
    border: 2px solid #343b58;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    p {
      height: 120px;
      padding: 10px;
      word-spacing: 1.4px;
      line-height: 1.4;
      font-size: var(--font-large);
      width: 90%;
      color: #d5d6db;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #634f30;
      border: 5px dotted #343b58;
    }

    img {
      margin: 10px 0px;
      height: 130px;
      width: 130px;
      object-fit: cover;
      border: 3px solid #bb9af7;
    }

    button {
      margin: 10px 0px;
      border-radius: 0px;
      color: #fff;
      background: #343b58;

      &:hover {
        border: 1px solid #fff;
      }
    }
  }
}

@media (min-width: 280px) and (max-width: 767px) {
  .container {
    .faction {
      margin: 0;
      height: 100px;
      width: 100px;

      &:hover {
        border: none;
      }

      img {
        height: 90px;
        width: 90px;
      }
    }
    .army {
      margin: 10px;

      .unit {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100px;
        width: 80px;

        h2 {
          display: none;
          margin: 0;
          text-align: center;
          font-weight: 200;
          font-size: var(--font-small);
        }

        img {
          height: 70px;
          width: 70px;
        }
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 15px;
          height: 15px;
          font-size: var(--font-small);
        }
      }
    }
    .dialogue {
      width: 95%;
      color: #d5d6db;

      p {
        font-size: var(--font-small);
      }

      img {
        margin: 10px 0px;
        height: 100px;
        width: 100px;
        object-fit: cover;
        border: 3px solid #bb9af7;
      }

      button {
        height: 40px;
        font-size: var(--font-small);

        &:focus {
          border: 1px solid #fff;
        }
      }
    }
  }
}

@media (max-width: 767px) and (max-width: 1024px) {
  .container {
    width: 80%;
    flex-wrap: wrap;
    .army {
      flex-wrap: wrap;
      justify-content: center;
      img {
        height: 100px;
        width: 90px;
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    .faction {
      margin: 0;
      height: 130px;
      width: 130px;

      img {
        height: 120px;
        width: 120px;
      }
    }
    .army {
      margin: 10px;

      .unit {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 120px;
        width: 100px;

        img {
          height: 90px;
          width: 90px;
        }
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25px;
          height: 25px;
          font-size: var(--font-large);
        }
      }
    }
  }
}
