.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  width: 350px;
  color: #dd1d1d;
  border: 6px double #343b58;
  background: #1a1b26;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  h2 {
    font-size: 1.65rem;
  }
  img {
    border: 5px double #343b58;
    width: 250px;
    height: 300px;
    object-fit: cover;
  }
}
