.message {
  display: flex;
  min-height: 200px;
  width: 900px;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 6px double #343b58;
  background: #1a1b26;
  padding: 10px;

  img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border: 2px solid #343b58;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0px 25px;
    color: #bb9af7;
    font-weight: bold;
    font-size: 0.9rem;

    span {
      min-height: 30px;
    }

    img {
      margin: 20px 0px;
      height: 90px;
      width: 90px;
      border: none;
    }

    .damage {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      font-size: 1.5rem;
      padding: 5px;
      background-color: #8f2439;
      color: #e0af68;
      height: 40px;
      width: 40px;
    }
  }
}