:root {
  overflow-y: auto;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.map {
  height: auto;
  width: 60%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -50;
    object-fit: cover;
  }

  .levelsContainer {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .level {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h5 {
        font-size: 1rem;
        color: #119992;
        font-weight: 400;
      }

      .levelBtn,
      .scoutlvl {
        margin: 4px;

        &:hover {
          border: 3px solid #646cff;
        }
      }

      .levelBtn {
        opacity: 0.99;
        width: 170px;
        height: 170px;
        cursor: pointer;

        img {
          height: 170px;
          width: 170px;
          object-fit: cover;
        }
      }

      .levelBtn {
        transition: .1s ease-in-out;
        border: 3px solid #343b58;
      }

      .scoutlvl {
        display: flex;
        align-items: center;
        align-self: center;
        border: 3px solid transparent;
        width: auto;
        height: 40px;
      }
    }
  }
}