@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply bg-gray-800/50 transition-colors border border-transparent border-t-4 border-t-violet-700 px-10 h-[40px] hover:border-white hover:border hover:border-t-4;
  }
}

:root {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --font-small: .78rem;
  --font-medium: .9rem;
  --font-large: 1.33rem;

  color-scheme: light dark;
  color: #d5d6db;
  background-color: #1a1b26;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100%;
  min-width: 280px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  button {
    height: 50px;
  }
}