.level {
  background: #1a1b26;
  border: 2px solid #343b58;
  min-height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  color: rgb(133, 104, 104);

  h2,
  button {
    align-self: center;
  }

  button {
    margin: 40px 0px;
    border-radius: 0px;
  }

  .levelUnits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 10px;
    border-top: 5px dotted #343b58;
    border-bottom: 5px dotted #343b58;

    .unit {
      width: 100px;
      height: auto;
      margin: 20px;
      h3,
      p {
        margin: 0;
        text-align: center;
      }
      img {
        height: 100px;
        width: 100px;
        border: 2px solid #343b58;
        object-fit: cover;
        cursor: pointer;
      }
      p {
        font-size: 1.2rem;
        font-weight: bold;
        background: rgb(147, 76, 161);
        width: 40px;
        margin: auto;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 558px) {
  .level {
    width: 80%;
  }
}
