.unitPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  width: 500px;
  color: rgb(133, 104, 104);
  background: #1a1b26;
  border: 2px solid #414868;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  img {
    margin: 10px 0px;
    height: 130px;
    width: 120px;
    object-fit: cover;
  }

  .face {
    border: 2px solid #414868;
  }

  button {
    margin: 10px 0px;
    border-radius: 0px;
    color: #fff;
    background: #414868;

    &:hover {
      border: 1px solid #d5d6db;
    }
  }

  .skillPrev {
    font-size: 1.3rem;
    text-align: center;
    width: 90%;
    font-weight: bold;
  }
}

.stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;

  div {
    display: flex;
    justify-content: center;
    width: 45%;
    align-items: center;
    gap: 5px;
  }

  img {
    height: 40px;
    width: 40px;
  }

  p {
    font-size: 1.27rem;
  }
}

.skillContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 10px;
  padding: 10px 0px;
  border-top: 5px dotted #414868;
  border-bottom: 5px dotted #414868;

  .skill {
    margin: 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 160px;
    text-align: center;

    p {
      font-weight: bold;
      font-size: 1.1rem;
      overflow-y: hidden;
      overflow-x: hidden;
    }

    img {
      height: 60px;
      width: 60px;
      margin: 0px 5px;
      border-radius: 100px;
      cursor: pointer;
    }
  }
}

.dialogue {
  p {
    height: 120px;
    word-spacing: 1.4px;
    line-height: 1.4;
    font-size: 1.1rem;
    width: 90%;
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(133, 104, 104);
    border: 8px dotted rgb(158, 81, 81);
  }
}

@media (min-width: 280px) and (max-width: 767px) {
  .unitPreview {
    width: 90%;
    top: 60%;
    transform: translate(0, -60%);

    img {
      height: 85px;
      width: 75px;
    }

    .stats {
      gap: 5px;
    
      div {
        display: flex;
        justify-content: center;
        width: 45%;
      }
    
      img {
        height: 20px;
        width: 20px;
      }
    
      p {
        font-size: .8rem;
      }
    }

    .skillContainer {
      .skill {
        height: 100px;

        p {
          font-weight: bold;
          font-size: 0.66rem;
          overflow-y: hidden;
          overflow-x: hidden;
        }

        img {
          height: 30px;
          width: 30px;
          margin: 0px 5px;
          border-radius: 100px;
          cursor: pointer;
        }
      }
    }
  }
}
